<div class="accout accout-login">
  Username: admin
  Password: admin
</div>

<h2>Login</h2>

<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--  <div class="form-group">-->
<!--    <label for="username">Username</label>-->
<!--    <input>-->
<!--  </div>-->
<!--</form>-->


<!--<div class="parent">-->
<!--    <div class="ui-g ui-fluid center">-->
<!--        <div class="ui-g-12 ui-md-4">-->
<!--            <div class="ui-inputgroup">-->
<!--                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>-->
<!--                <input type="text" pInputText placeholder="Username" [(ngModel)]="login.usernameOrEmail">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 ui-md-4">-->
<!--            <div class="ui-inputgroup">-->
<!--                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>-->
<!--                <input type="password" pInputText placeholder="Password" [(ngModel)]="login.password">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 ui-md-4">-->
<!--            <p-button label="Click" (click)="loginFunction()"></p-button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
