.parent {
  display: flex;
  align-items: center;
  height: 100vh;
}
.center{
  background-color: rebeccapurple;
  flex: 1;
}

.login-wrap {

  position: absolute;
  top: 100px;
  left: 400px;
  width: 200px;
  height: 200px;

  background-color: lightcyan;
}
