<!--<nav>-->
<!--    <ul>-->
<!--        <li routerLinkActive="active">-->
<!--            <a routerLink="/welcome" > Welcome</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active">-->
<!--            <a routerLink="/contact" > Contact </a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active">-->
<!--            <a routerLink="/login" > Login </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->

<p-menubar [model]="items">
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="fa fa-sign-out"></button>
</p-menubar>

<div class="layout-wrapper">
    <router-outlet style="display: none;"></router-outlet>
    <div class="login-wrap">
        <span> login</span>
    </div>
</div>

<app-footer></app-footer>
