<!--https://www.w3schools.com/w3css/tryw3css_templates_analytics.htm#-->
<!--Top container-->
<div class="vk-bar vk-black vk-large">
    <div class="vk-logo">
        <span> Logo</span>
    </div>
</div>
<!-- Sidebar/menu-->
<nav class="vk-sidebar vk-white vk-hide-large" id="main-sidebar">
    <ul>
        <li>Menu 1</li>
        <li>Menu 1</li>
        <li>Menu 1</li>
        <li>Menu 1</li>
        <li>Menu 1</li>
        <li>Menu 1</li>
        <li>Menu 1</li>
        <li>Menu 1</li>
        <li>Menu 1</li>
    </ul>
</nav>

<!--Page content-->
<div class="vk-main ">
    <div class="content">
        <p> Lotus Cars is a British automotive company[5] that manufactures sports cars and racing cars in its headquarters in Hethel, United Kingdom. Lotus cars include the Esprit, Elan, Europa, Elise, Exige and Evora sports cars and it had motor racing success with Team Lotus in Formula One. Lotus Cars are based at the former site of RAF Hethel, a World War II airfield in Norfolk. The company designs and builds race and production automobiles of light weight and fine handling characteristics.[6] It also owns the engineering consultancy firm Lotus Engineering, which has facilities in the United Kingdom, United States, China, and Malaysia.

            Lotus was previously owned by DRB-HICOM through its subsidiary Proton, which acquired it following the bankruptcy of former owner Romano Artioli in 1996.

            On 24 May 2017, Geely announced that it will take a 51% controlling stake in Lotus and thus became the owner of the automobile manufacturer.[7][8] The remaining 49% were acquired by Etika Automotive.[9]</p>
    </div>
</div>
