.vk-bar {
  //position: fixed;
  //top: 50px;
  width: 100vw;
  height: 50px;
}

.vk-black {

  background: black;
}

.vk-large {
//  text
  color: white;
  span {

  }
}

.vk-sidebar {
  position: absolute;
  background: lightskyblue;

  width: 300px;
  height: 100vh;

}

.vk-main {
  position: relative;
  left: 300px;
  //top: 50px;

  height: 100vh;
  background: red;

  p {
    margin: 0px;
    padding: 0px;
  }
}


.header {
//  position
  position: fixed;

  height: 20px;
  width: 100px;
  background: lightskyblue;
}




.learn-position {
  position: static;
  background: lightgray;
  margin-top: 50px;
  .box-orange {
    position: absolute;
    background: orange;
    height: 100px;
    width: 80%;
    right: 5px;
    top: 50px;
    left: 50px;
  }
  .box-blue {
    background: lightskyblue;
    height: 100px;
    width: 20%;

    position: static;
  }
}
